.switch
  position: relative
  display: inline-block
  width: 60px
  height: 34px
  margin-top: 0px
  padding-top: 0px
  vertical-align: middle 
  font-size: 0px
  float: right


  input
    opacity: 0
    width: 0
    height: 0

  .slider
    display: block
    position: relative
    width: 100%
    height: 100%
    mind-width: 60px
    min-height: 34px
    background-color: var(--text-500)
    border-radius: 34px
    transition: background-color 0.6s

  .slider-knob
    position: absolute
    top: 4px
    left: 4px
    width: 26px
    height: 26px
    background-color: var(--bg-800)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    transition: transform 1

  .slider-knob svg
    color: var(--bg-200)
    font-size: 14px
    transition: transform 1

  /* When checked, move the knob to the right */
  input:checked + .slider .slider-knob
    transform: translateX(26px)


