@import "./themeFunctions"

$dark: (
    accent-main: #D4A017, // Honeycomb Maple 
    accent-brigth: #F6C453, // Honeycomb Springtime 
    accent-dark: #8E6B1F, // Honeykomb Forest 
    txt-dark: #510201, //Fir Honey dark 
    //$txt-mid: #52170F // Fir Honey light 

    bg-main: #0A2740, // Bluelake Deep 
    bg-medium: #154C73, // Bluelake Mid 
    bg-dark: #0D1B2A, // Bluelake Deep GPT 
    txt-light: #5FA8D3, // Bluelake Soft 
    txt-mid: #0057A6, // Russian Soft 
 )

$light: (
    accent-main: #154C73, // Bluelake Mid
    accent-brigth: #5FA8D3, // Bluelake Soft
    accent-dark: #0D1B2A, // Bluelake Deep GPT 
    txt-dark: #0A2740, // Bluelake Deep 
    //$highlight #0057A6, // Russian Soft 


    bg-main: #8E6B1F, // Honeykomb Forest 
    bg-medium: #D4A017, // Honeycomb Maple 
    bg-dark: #510201, //Fir Honey dark 
    txt-light:  #F6C453, // Honeycomb Springtime 
    txt-mid: #52170F, // Fir Honey light 

)