@use "../base/colors" as base

body
    margin: 0 auto
    color: #8E8D8A
    @include base.color-scheme()
    width: max(450px, 80%)
    font-size: 1.2rem
    border-width: 0px

main
    display: flex
    justify-content: center
    text-align: left
    margin: 0 50px
    width: calc(100%-100px)
    
    
    


#wrapper
    display: flex
    justify-content: center
    width: 80%
    height: 100%
    margin: 0 auto
    border-left-width: 5px
    border-right-width: 5px
