@use '../../settings/global' as settings
@use '../../ui/global' as ui

$hex-ratio: 1.1547005
$hex-outline-color: var(--text-500)
$hex-outline-hover: var(--primary-600)
$li-size: calc(settings.$avatar-size / 3)
$li-width: calc($li-size * $hex-ratio)
$li-size--fixed: 5.9vh


.main_nav_base
    a 
        text-decoration: none
        color: var(--text-500)
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-content: center
     

        &:hover, &:focus-visible
            color: var(--primary-600)
        
            .hex polygon
                stroke: var(--primary-600)

    ul
        list-style: none
        
        li
            text-align: center
            justify-content: center
            align-content: center
            height: $li-size
            aspect-ratio: $hex-ratio
                   
            
            .hex
                height: $li-size
                width: $li-width
                aspect-ratio: $hex-ratio
                
                polygon
                    stroke: var(--text-500)
                
                &+svg  
                    transform: translateY(calc($li-size * -0.65 ))


            

.main_nav
    //width: 100%
    height: 100%
    padding: 0
    margin: 0 
    ul
        li
            a 
                display: flex
                text-align: center
                justify-content: center
                align-content: center
                height: $li-size
                width: $li-width
                margin: 0 auto

        &:nth-child(1)
            margin-left: -2em
            
        li:nth-child(2)
            margin-left: $li-width
            //display: inline-block
        
        li:nth-child(3)
            display: inline-block
            

        li:nth-child(4)
            margin-left: $li-width
            
            display: inline-block
        
        li:nth-child(5)
            margin-left: calc( $li-size / 2 )
            
            display: inline-block

.main_nav--fixed
    transition: transform 0.6s ease
    transform: scale(1)
    ul li, ul li a, ul li a .hex
        transition: height 0.6s ease, width 0.6s ease, transform 0.6s ease, top 0.6s ease
        

    ul 
        z-index: 101
        display: flex
        height: calc($li-size--fixed*3/2)
        padding-left: 0
        margin: 1em 0 0 0.5em
        align-items: flex-start
        transform: scale(1)
        
        
        li
            
            align-content: flex-start
            height: $li-size--fixed
            width: calc($li-size--fixed*$hex-ratio)
            transform: scale(1)
            padding-top: $li-size--fixed
                
            a
                
                height: $li-size--fixed
                width: calc($li-size--fixed*$hex-ratio)
                align-content: start
                justify-content: center
                              
                .hex
                    height: $li-size--fixed
                    width: calc($li-size--fixed*$hex-ratio)


                .svg-inline--fa
                    transform: translateY(calc($li-size--fixed * -0.65 ))


            &:nth-child(1)
                transition: transform 0.6s ease
                transform: translateY(calc($li-size--fixed * -1))
            &:nth-child(2)
                transition: transform 0.6s ease
                transform: translateY(calc($li-size--fixed * -0.5))
            &:nth-child(3)
                margin-left: calc($li-size--fixed * $hex-ratio * -1)
                transition: transform 0.6s ease
                transform: translate(calc($li-size--fixed * $hex-ratio), calc($li-size--fixed * -1) )
            &:nth-child(4)
                transition: transform 0.6s ease
                transform: translate(calc($li-size--fixed * $hex-ratio), calc($li-size--fixed * -0.5))
           


            
            //&:nth-child(even)
            //    align-self: flex-end
            //
            //&:nth-child(odd)
            //    align-self: flex-start
            


      
            

        

