@use "../themes/_global" as themes

body
    background-color: var(--bg-800)
    margin: 0 auto
    color: var(--text-300)
    width: max(450px, 80%)
    font-size: 1.2rem
    border-width: 0px

main
    display: block
    justify-content: center
    text-align: left
    padding: 0 50px
    width: calc(100% - 100px)

    section
        display: block

