/* Global layouts: body, footer, header */
/* additional layout components: hero, avatar, banners, nav */
.theme-bluelake_honey.light {
  --primary-600: #D4A017;
  --primary-400: #F6C453;
  --primary-700: #8E6B1F;
  --text-100: #0D1B2A;
  --text-300: #154C73;
  --text-500: #0057A6;
  --text-700: #510201;
  --bg-900: #FFFFFF;
  --bg-800: #F6F6F6;
  --bg-600: #E1EAF6;
  --success: #2F8F5A;
  --error: #C14F4A;
}

.theme-bluelake_honey.dark {
  --primary-600: #D4A017;
  --primary-400: #F6C453;
  --primary-700: #8E6B1F;
  --text-100: #FFFFFF;
  --text-300: #C7D7E5;
  --text-500: #5FA8D3;
  --text-700: #0057A6;
  --text-900: #510201;
  --bg-900: #0D1B2A;
  --bg-800: #0A2740;
  --bg-600: #154C73;
  --success: #5BBE72;
  --error: #C14F4A;
}

body {
  background-color: var(--bg-800);
  margin: 0 auto;
  color: var(--text-300);
  width: max(450px, 80%);
  font-size: 1.2rem;
  border-width: 0px;
}

#spacer {
  height: 20vh;
}

header {
  position: sticky;
  top: 0;
  justify-content: center;
  align-content: center;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.2);
  height: 15vh;
}
header.fixed {
  z-index: 100;
  height: 10vh;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: max 480px 80%;
}

main {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: calc(100% - 100px);
}
main section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 0px;
  padding-top: 0px;
  vertical-align: middle;
  font-size: 0px;
  float: right;
  /* When checked, move the knob to the right */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  mind-width: 60px;
  min-height: 34px;
  background-color: var(--text-500);
  border-radius: 34px;
  transition: background-color 0.6s;
}
.switch .slider-knob {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: var(--bg-800);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1;
}
.switch .slider-knob svg {
  color: var(--bg-200);
  font-size: 14px;
  transition: transform 1;
}
.switch input:checked + .slider .slider-knob {
  transform: translateX(26px);
}

#avatar {
  position: relative;
  display: inline-block;
  float: left;
  background: white;
  clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  aspect-ratio: 1.1547005/1;
  margin-top: 1em;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30vh;
  width: auto;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
}
.hero .avatar {
  height: 12em;
  width: auto;
  aspect-ratio: 1.1547005/1;
}

.hero--fixed {
  z-index: 102;
  transition: transform 0.6s ease, height 0.6s ease, width 0.6s ease;
  height: 10vh;
  position: fixed;
  top: 10vh;
  width: max(450px, 80%);
  margin-top: 1.1em;
  display: flex;
  justify-content: center;
}
.hero--fixed .avatar--fixed {
  transition: height 0.6s ease, width 0.6s ease;
  height: 9vh;
  width: auto;
}

/* This is the MAIN banner component */
/* banner left partial spans over two rows to set the Esh-Sign as drop cap */
#main_banner {
  display: grid;
  grid-gap: 10px;
  padding: 10px 0;
  margin: 0 auto;
  transition: transform 0.6s ease, font-size 0.6s ease;
}
#main_banner.main_banner {
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  font-size: 6rem;
}
#main_banner.main_banner #main_banner_left {
  grid-row: 1/span 2;
}
#main_banner.main_banner #main_banner_right1 {
  font-size: 0.5em;
  height: 100%;
}
#main_banner.main_banner #main_banner_right2 {
  align-self: end;
  font-size: 0.5em;
}
#main_banner.main_banner--fixed {
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 0;
  font-size: 2rem;
  align-items: end;
  justify-content: center;
  transform: scale(1);
}
#main_banner.main_banner--fixed #main_banner_left {
  font-size: 1.2em;
  justify-self: start;
}
#main_banner.main_banner--fixed #main_banner_right1, #main_banner.main_banner--fixed #main_banner_right2 {
  font-size: 1em;
  justify-self: start;
}
#main_banner.main_banner--fixed #main_banner_right2 {
  padding-left: 10px;
}

/* Mobile */
.main_nav_base a {
  text-decoration: none;
  color: var(--text-500);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.main_nav_base a:hover, .main_nav_base a:focus-visible {
  color: var(--primary-600);
}
.main_nav_base a:hover .hex polygon, .main_nav_base a:focus-visible .hex polygon {
  stroke: var(--primary-600);
}
.main_nav_base ul {
  list-style: none;
}
.main_nav_base ul li {
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 4em;
  aspect-ratio: 1.1547005;
}
.main_nav_base ul li .hex {
  height: 4em;
  width: 4.618802em;
  aspect-ratio: 1.1547005;
}
.main_nav_base ul li .hex polygon {
  stroke: var(--text-500);
}
.main_nav_base ul li .hex + svg {
  transform: translateY(-2.6em);
}

.main_nav {
  height: 100%;
  padding: 0;
  margin: 0;
}
.main_nav ul li a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 4em;
  width: 4.618802em;
  margin: 0 auto;
}
.main_nav ul:nth-child(1) {
  margin-left: -2em;
}
.main_nav ul li:nth-child(2) {
  margin-left: 4.618802em;
}
.main_nav ul li:nth-child(3) {
  display: inline-block;
}
.main_nav ul li:nth-child(4) {
  margin-left: 4.618802em;
  display: inline-block;
}
.main_nav ul li:nth-child(5) {
  margin-left: 2em;
  display: inline-block;
}

.main_nav--fixed {
  transition: transform 0.6s ease;
  transform: scale(1);
}
.main_nav--fixed ul li, .main_nav--fixed ul li a, .main_nav--fixed ul li a .hex {
  transition: height 0.6s ease, width 0.6s ease, transform 0.6s ease, top 0.6s ease;
}
.main_nav--fixed ul {
  z-index: 101;
  display: flex;
  height: 8.85vh;
  padding-left: 0;
  margin: 1em 0 0 0.5em;
  align-items: flex-start;
  transform: scale(1);
}
.main_nav--fixed ul li {
  align-content: flex-start;
  height: 5.9vh;
  width: 6.81273295vh;
  transform: scale(1);
  padding-top: 5.9vh;
}
.main_nav--fixed ul li a {
  height: 5.9vh;
  width: 6.81273295vh;
  align-content: start;
  justify-content: center;
}
.main_nav--fixed ul li a .hex {
  height: 5.9vh;
  width: 6.81273295vh;
}
.main_nav--fixed ul li a .svg-inline--fa {
  transform: translateY(-3.835vh);
}
.main_nav--fixed ul li:nth-child(1) {
  transition: transform 0.6s ease;
  transform: translateY(-5.9vh);
}
.main_nav--fixed ul li:nth-child(2) {
  transition: transform 0.6s ease;
  transform: translateY(-2.95vh);
}
.main_nav--fixed ul li:nth-child(3) {
  margin-left: -6.81273295vh;
  transition: transform 0.6s ease;
  transform: translate(6.81273295vh, -5.9vh);
}
.main_nav--fixed ul li:nth-child(4) {
  transition: transform 0.6s ease;
  transform: translate(6.81273295vh, -2.95vh);
}

/* UI Elements: Light/Dark switch, hex styling*/
/* Themes imported by helper in styles/themes/_themes.sass */
/* Settings like size variables, todo breakpoints, maybe spacing *//*# sourceMappingURL=index.css.map */